.books {
  &__container {
    width: 50%;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding: 16px;
    background: #fff;
    display: flex;
    flex-direction: column;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    flex-basis: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
    justify-self: end;
    margin-top: 16px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    cursor: pointer;
    font-weight: 600;
    width: calc(25% - 8px);
    border-radius: 5px;
    background: #efefef;
    height: 42px;
    flex-direction: column;
    transition: 0.3s ease-in-out all;

    &__reader {
      font-size: 8px;
      font-weight: 300;
    }

    &.required {
      background: rgb(255, 224, 224);
    }

    &.free {
      background: rgb(216, 239, 182);
    }
    
    &:hover {
      background: #d0d0d0;
    }
  }
  &__buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
    justify-self: end;
  }

  &__create {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__input {
      &__wrapper {
        margin-top: 8px;
        flex-direction: column;
        justify-content: center;
        display: flex;
        gap: 4px;
      }

      &__name {
        font-size: 14px;
        font-weight: 500;
      }
    }

    &__button {
      margin-top: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__title {
      display: flex;
      justify-content: center;
    }
  }

  &__show {
    &__title {
      margin-bottom: 12px;
    }

    &__info {
      display: flex;
      gap: 8px;
    }
  }
}